<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">
    
    <bean class="com.springcore.setter.Student" name="std">    
    <property name="id" ><value>101</value> </property>
    <property name="name" ><value>"vishal"</value></property>
    <property name="age" ><value>24</value></property> 
    
     </bean>
    
  <!--   <bean class="com.springcore.setter.Student" name="stud">    
    <property name="id" value="102"/>
    <property name="name" value="sagar" />
    <property name="age" value="23" />
       
    </bean> -->   
 <!--    <bean class="com.springcore.setter.Student" name="s1" p:id="103" p:name="lalit" p:age="25">
       </bean> -->
           
    <bean class="com.springcore.setter.Subject" name="sub">
    <property name="name" value="java" />
    <property name="Student" ref="std"></property>
     </bean>    
    </beans>
    
    